# Built outputs
*.apk
*.aab
*.ap_
*.dex
**/build/

# Gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar

# IDE
*.iml
/.idea
*.swp
*~

# Local config
local.properties
google-services.json
keystore.properties

# Signing
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db

# Native
.externalNativeBuild
.cxx

# Captures
/captures

# Kotlin
*.kotlin_module

# Proguard
mapping.txt
